extends ../base

block content
    video(src=`/${video.fileUrl}`, controls)
    div
        p=video.description
        small=video.createdAt
    div
        small Uploaded by 
        a(href=`/users/${owner._id.toString()}`)=owner.name
    if (loggedInUser._id === video.owner.toString())
        a(href=`${video.id}/edit`) Edit Video &rarr;
        br
        a(href=`${video.id}/delete`) Delete Video &rarr;