extends ../base

block content
    if errorMessage 
        p=errorMessage
    form(method="POST")
        input(name="name", required, placeholder="Name", type="text", value=loggedInUser.name)
        input(name="email", required, placeholder="E-mail", type="email", value=loggedInUser.email)
        input(name="username", required, placeholder="Username", type="text", value=loggedInUser.username)
        input(name="location", placeholder="Location", type="text", value=loggedInUser.location)
        input(type="submit", value="Update Profile")
        if !loggedInUser.socialOnly
            hr
            a(href="change-password") Change Password &rarr;